@import url("https://fonts.googleapis.com/css2?family=Baloo+2&display=swap");

body {
    margin: 0;
	font-family: "Baloo 2", cursive;
	font-size: 16px;
	/* color: #ffffff; */
	/* text-rendering: optimizeLegibility; */
	font-weight: initial;
}
.roww{
    width:'500px' ;
    height:'669px';
    background-color: #000000d5;
}
.box{
  position:relative;
  /* margin:; */
  /* width: 70%; */
}
.text{
	padding: 18%;
	color: white;
    height: 680px;
}
.img-title{
  position: absolute;
  color: rgb(255, 255, 255);
  text-align: center;
  left: 0;
  right: 0;
  letter-spacing: 2px;
}

/* media query */
/* mobile  */
@media only screen and (max-width:688px) {
        .text {
        margin-top: 0;
    }
	.textsize{
		font-size: medium;
	}
	.box img{
		height: 300px;
	}
}
/* laptop  */
@media screen and (min-width: 768px) {
    .text {
        /* margin-top: 5%; */
    }
}
/* ipad  */
@media only screen and (max-width:992px) and (min-width:688px){

    }